
/*------------------------------BODY------------------------------*/


/*------------------------------GLOBAL------------------------------*/



/*------------------------------CONTAINER------------------------------*/



/*------------------------------HEADER------------------------------*/



























/*------------------------------HERO------------------------------*/








/*------------------------------MAIN CONTENT------------------------------*/



    /*--------------ABOUT---------------*/


/*------------------------------TEAM------------------------------*/





/*------------------------------FOOTER------------------------------*/

 

    

/*------------------------------PORTFOLIO BUTTONS------------------------------*/





/*------------------------------PORTFOLIO------------------------------*/



/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------ HOMEWORK №3 -----------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/




/* .header-link {
    row-gap:  50px;
}
.header-link:first-child {margin-left: 93px;
    
} */




















/* .logo-ft{
    padding-bottom: 20px;
} */




/*---------------------------- PORTFOLIO----------------------------*/


/*----------------------------SOCIAL 1----------------------------*/




/*----------------------------SOCIAL 2----------------------------*/




/*----------------------------CLIENTS----------------------------*/





/*----------------------------FOOTER ICONS----------------------------*/




/*----------------------------TEAM BOARDERS----------------------------*/







/*----------------------------HW5 MODAL WINDOW----------------------------*/




