.skills-list {
    list-style: none;
}

.skills {

    padding-top: 94px;
    padding-bottom: 94px;
    
   

    @media screen and (min-width: 480px) {
                padding-top: 60px;
                padding-bottom: 60px;
        }
    
        @media screen and (min-width: 768px) {
            padding-top: 60px;
                padding-bottom: 60px;
            
         }

}



.skills-item {
    width: 100%;

    @media screen and (min-width: 768px) {

        width: calc((100% - 30px) / 2);
    }
}

.skills-list {
    flex-direction: row;
    display: flex;
    
   

    @media screen and (min-width: 480px) {
            display: block;
        }
    
        @media screen and (min-width: 768px) {
            display: flex;
            
        }
}

.skills-h3 {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-size: 14px;
    color: #212121;
    margin-bottom: 10px;
    margin-top: 30px;

    @media screen and (min-width: 480px) {
           
        }
    
        @media screen and (min-width: 768px) {}
}



.skills-p {
    font-weight: 400;
    line-height: 1.71;
    color: #757575;

    @media screen and (min-width: 480px) {
        margin-bottom: 30px;
    }
    
        @media screen and (min-width: 768px) {}
}

.skills-list,
.team__list,
.about__list,
.portfolio-list {
    column-gap: 30px;
}

