.footer__container {
    @media screen and(min-width:0px) {
        display: flex;
        flex-direction: column;
        align-items: center;
       justify-content: center;
    }

        @media screen and(min-width:768px){
           flex-wrap: wrap;
           flex-direction: row;
      justify-content: space-around;
      align-content: flex-start;
      align-items: flex-start;
        }

                @media screen and (min-width: 1200px){
                    justify-content: flex-start;
                }
}




footer .contacts__mail,
footer .header-tel {
    color: rgba(255, 255, 255, 0.6);
}

footer .menu__studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address-ft {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}




.ft-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.ft-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}

  

footer {
    padding: 60px 0;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.footer-soc-item {
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 90px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms linear, fill 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            background-color: #2196F3;
        }

                &:hover .footer-soc-icon {
                    fill: #FFFFFF;
                }

                                &:focus .footer-soc-icon {
                                    fill: #FFFFFF;
                                }
}

.footer-soc-icon {
    fill: #FFFFFF;
}







.footer-soc-h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 0.94;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-soc {
    margin-left: 70px;
    margin-top: 12px;
    @media screen and(min-width:0px){
        margin-top: 60px;
        margin-left: 0;
        text-align: center;
    }

        @media screen and(min-width:768px){
            margin-top: 5px;
            // align-items: flex-start;

        }
                @media screen and (min-width: 1200px) {
                    margin-left: 70px;
                        margin-top: 12px;
                        text-align: start;
                        margin-right: 93px;
                }
}

.info-ft {
    flex-direction: column;
    @media screen and(min-width:0px){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        @media screen and (min-width: 1200px){
            align-items: flex-start;
        }
}

.footer__list {
    @media screen and(min-width:0px){
        display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    }
        @media screen and (min-width: 1200px){
            align-items: flex-start;
        }
}

.ft {
    padding: 0 0 0 0;
}

.logo-position-ft {
    line-height: 31px;
    @media screen and(min-width:0px){
        
    }
}

.contact-ft {
    margin-bottom: 9px;

    &:last-child {
            margin-bottom: 0;
        }

                 @media screen and(min-width:0px){
                    margin-bottom: 8px;
                 }
                                 @media screen and (min-width: 1200px) {
                                    margin-bottom: 9px;
                                 }
}




.address-ft {
    margin-top: 20px;
}

.ft-input {
    display: flex;
    display: block;
    margin-left: 93px;
    justify-content: center;
    margin-top: 10px;
    @media screen and(min-width:0px){
        margin-left: 0;
        width: 100%;
        margin-top: 60px;
    }
        @media screen and (min-width: 1200px){
            margin-top: 0;
            width: auto;
        }
}

.submit-bt-text1 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.subscribe-icon {

    justify-content: center;
    align-items: center;
    fill: white;
    margin-left: 10px;
}

.logo__studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.input-stack {
    display: flex;
    @media screen and(min-width:0px){
        flex-direction: column;
    }
        @media screen and (min-width: 1200px){
            flex-direction: row;
            gap: 12px;
        }
}


.input-label1 {
    @media screen and(min-width:0px){
        margin-bottom: 20px;
        width: 100%;
    }

        @media screen and(min-width:768px){
            max-width: 450px;
           margin: 0 auto;
           margin-bottom: 20px;
        }
                @media screen and (min-width: 1200px){
                    width: auto;
                }
}

.modal-input1 {
    background-color: #2F303A;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    padding-left: 16px;

    @media screen and(min-width:0px){
        width: 100%;
    }
        @media screen and (min-width: 1200px){
            width: 358px;
        }

               

}

.input-title-name1 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    @media screen and(min-width:0px){
        text-align: center;
    }
   
        @media screen and (min-width: 1200px){
            text-align: start;
        }
}

.submit-bt1 {
    margin-left: 12px;
    background-color: #2196F3;
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and(min-width:0px){
      margin: 0 auto;
    }
        @media screen and (min-width: 1200px){
            margin-left: 12px;
        }
}