.menu__list {
    display: flex;
}

header {
    border-bottom: 1px solid #ECECEC;
    padding: 25px 0;
    @media screen and(min-width:0px) {
            // padding-left: 15px;
            padding-top: 16px;
            padding-bottom: 16px;
            padding-right: 0;
        }
                @media screen and (min-width: 1200px){
                    padding: 25px 0;
                }
                  @media screen and(max-width:480px) {
                      // padding-left: 15px;
                      padding-top: 16px;
                      padding-bottom: 16px;
                      padding-right: 0;
                  }
}

.header .container {
    @media screen and(min-width:0px){
        padding-left: 0;
        padding-right: 0;
    }
         @media screen and(min-width:768px) {
             align-items: baseline;
         }

}

.menu {
    @media screen and(min-width:768px) {
            display: flex;
        }
}

.menu__list {
    align-items: center;
}

.active__menu::after {
    background-color: #2196F3;
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    border: 2px solid #2196F3;
    border-radius: 2px;
    margin-top: 30px;
    margin-bottom: -32px;
@media screen and(min-width:768px) {
        margin-top: 28px;
            margin-bottom: -30px;
    }
        @media screen and (min-width: 1200px){
            margin-top: 30px;
            margin-bottom: -32px;
        }
}

.menu__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms linear;

    &:hover,
        &:focus {
            color: #2196F3;
        }
                @media screen and(min-width:0px) {
                    display: none;
                }
                                 @media screen and(min-width:768px) {
                                     display: block;
                                 }

}



.contacts__mail {

    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;
    transition: color 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &,
        .contacts__tel{
            fill: #757575;
        }

                &:focus,
                                .contacts__tel:focus {
                    color: #2196F3;
                    fill: #2196F3;
                }

                                @media screen and(min-width:0px) {
                                    display: none;
                                } 

                           @media screen and(min-width:768px) {
                               display:flex;
                           }

                           
                                                                 

}


.contacts__tel {fill: #757575;
    transition: fill 250ms linear;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.contacts__tel {

    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;
    display: flex;
    transition: color 250ms linear, fill 250ms linear;
    @media screen and(min-width:0px) {
            display: none;
        }

                  @media screen and(min-width:0px) {
                      display: flex;
                  }
}





.contacts__mail:hover,
.contacts__tel:hover {
    color: #2196F3;
    fill: #2196F3;
}
.menu__item:nth-child(2) {
    margin-left: 93px;
    @media screen and(min-width:768px) {
            margin-left: 87px;
        }
                @media screen and (min-width: 1200px){
                    margin-left: 87px;
                }
}

.menu__item {
    margin-left: 50px;
    display: block;
    @media screen and(min-width:0px) {
           display: none;
        }
                @media screen and(min-width:768px) {
                    display: block;
                }
}

.contacts__menu {

    margin-left: 280px;
    display: flex;
    flex-direction: row;
    gap: 50px;

    @media screen and(min-width:0px){
        display: none;
    }

        @media screen and(min-width:768px) {
            display: flex;
            margin-left: 0;
            flex-direction: column;
            align-items:baseline;
            gap: 10px;
            margin-left: 65px;
            font-size: 14px;
        }
                @media screen and (min-width: 1200px){
                    flex-direction: row;
                    gap: 50px;
                    margin-left: 280px;
                    align-items: center;}
}

.contacts__item {
    margin-right: 10px;
}

.menu__web {
    color: #2196F3;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.menu__studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}