.menu__list {
    display: flex;
}

header {
    border-bottom: 1px solid #ECECEC;
    padding: 25px 0;
}

.menu__list {
    align-items: center;
}

.active__menu::after {
    background-color: #2196F3;
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    border: 2px solid #2196F3;
    border-radius: 2px;
    margin-top: 30px;
    margin-bottom: -32px;

}

.menu__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms linear;

    &:hover,
        &:focus {
            color: #2196F3;
        }

}



.contacts__mail {

    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;
    transition: color 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &,
        .contacts__tel{
            fill: #757575;
        }

                &:focus,
                                .contacts__tel:focus {
                    color: #2196F3;
                    fill: #2196F3;
                }

}
.contacts__tel {fill: #757575;
    transition: fill 250ms linear;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.contacts__tel {

    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;
    display: flex;
    transition: color 250ms linear, fill 250ms linear;
}





.contacts__mail:hover,
.contacts__tel:hover {
    color: #2196F3;
    fill: #2196F3;
}
.menu__item:nth-child(2) {
    margin-left: 93px;
}

.menu__item {
    margin-left: 50px;
    display: block;
}

.contacts__menu {

    margin-left: 280px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.contacts__item {
    margin-right: 10px;
}

.menu__web {
    color: #2196F3;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.menu__studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}