.hero,
.info-ft {
    background-color: #2F303A;
}

.hero {
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero {
    padding-bottom: 200px;
    padding-top: 200px;

}

.hero-h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.45;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-bt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    margin: 0 auto;

    color: #FFFFFF;
    background-color: #2196F3;

    padding: 10px 32px;
}

.hero-bt {
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
}

.hero {
    flex-direction: column;
}