.about__name {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}

.about__list {
    flex-direction: row;
    padding: 0;
    display: flex;
}

.about {
    flex-direction: column;
    padding-bottom: 94px;
}

.about .container,
.team .container,
.portfolio-block .container {
    display: block;
}